{% extends 'layouts/base.html' %} {% block title %} generosi.me Homepage {% endblock %} {% block content %}

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <!--<ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
    </ol>-->
    <div class="carousel-inner">

      <div class="item active" style="background-image: url(/static/images/cover.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="carousel-content" style="background-color: rgba(255, 255, 255, 0.45); box-shadow: 0px 0px 45px #fff; border-radius: 10px; padding: 10px;">
                <h1 class="animation animated-item-1" style="text-shadow: 0px 0px 15px #fff; font-size: 45pt;"><strong><font color="#000">Help feed those in need in your community.</font></strong></h1>
                <h2 class="animation animated-item-2"><strong><font color="#000">The quick and easy way to deliver donations to people who needs it most!</font></strong></h2>
                <button type="button" class="btn animation animated-item-3" id="get-started">Get Started</button>
              </div>
            </div>
            <!--
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="/static/images/slider/img1.png" class="img-responsive">
                                </div>
                            </div>-->

          </div>
        </div>
      </div>
      <!--/.item-->


    </div>
    <!--/.carousel-inner-->
  </div>
  <!--/.carousel-->

</section>
<!--/#main-slider-->

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="row">
        <div class="col-md-4">
            <h2>What is GenerosiMe?</h2>
            <p>
              In the United States, 31 percent—or 133 billion pounds of food supply at the retail and consumer levels in 2010 went uneaten. GenerosiMe aims to address this problem by providing an easy, and quick platform for resturants and businesses to donate uneaten food products and unused items to homeless shelters.
            </p>
  </div>

  <div class="col-md-4">
        <h2>How does it work?</h2>
        <p>
          GenerosiMe uses .
        </p>
  </div>

  </div>

</div>


{% endblock %}
