{% extends 'layouts/base.html' %} {% block title %} generosi.me Homepage {% endblock %} {% block content %}

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <!--<ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
    </ol>-->
    <div class="carousel-inner">

      <div class="item active" style="background-image: url(/static/images/cover.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="carousel-content" style="background-color: rgba(255, 255, 255, 0.45); box-shadow: 0px 0px 45px #fff; border-radius: 10px; padding: 10px;">
                <h1 class="animation animated-item-1" style="text-shadow: 0px 0px 15px #fff; font-size: 45pt;"><strong><font color="#000">Help support those in need in your community.</font></strong></h1>
                <h2 class="animation animated-item-2"><strong><font color="#000">The quick and simple way to deliver donations to people who need it most!</font></strong></h2>
                <a href="pickup"><button type="button" class="btn animation animated-item-3" id="get-started">Get Started</button></a>
              </div>
            </div>
            <!--
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="/static/images/slider/img1.png" class="img-responsive">
                                </div>
                            </div>-->

          </div>
        </div>
      </div>
      <!--/.item-->


    </div>
    <!--/.carousel-inner-->
  </div>
  <!--/.carousel-->

</section>
<!--/#main-slider-->

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="row">
        <div class="col-md-4">
            <h2>What is GenerosiMe?</h2>
            <p>
              In the United States, 31 percent—or 133 billion pounds of food supply at the retail and consumer levels in 2010 went uneaten. Moreover, the average American throws away 68 pounds of potentially reusable clothing per year. GenerosiMe aims to address ths problem by giving individuals and businesses alike the ability to conveniently donate food, clothing, toys, or household items without the burden of having to transport the donations themselves.
            </p>
        </div>
        <div class="col-md-4">
              <h2>How does it work?</h2>
              <p>
                GenerosiMe contains a database of local charitable organizations, such as Goodwill, The Salvation Army, homeless shelters, etc. When you register and enter your location, we compile a list of nearby charities that you can donate to, and allow you to choose which one you would like to support. Then, once your order is placed, a nearby driver provided by our partners at Postmates will stop by to pick up your donation and deliver it to the designated location. Enjoy the easiest and most worry-free donation of your life!
              </p>
        </div>
        <div class="col-md-4">
              <h2>How do I get started?</h2>
              <p>
                Click our "Get Started" button above, and fill out a simple registration form containing basic contact information. Then, to make an order, click our "Pickup" button (also above). This will take you to a form where you fill out which donation center you would like to support and a few details about your donation. Then simply click "Quote" for a delivery fee estimate and then "Submit" to send your order in. It's that simple! Each order can be completed in about a minute or less.
              </p>
        </div>

  </div>

</div>


{% endblock %}
