{% extends 'layouts/base.html' %} {% block title %} generosi.me Homepage {% endblock %} {% block content %}

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">

      <div class="item active" style="background-image: url(/static/images/cover.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="carousel-content" style="background-color: rgba(255, 255, 255, 0.45); box-shadow: 0px 0px 45px #fff; border-radius: 10px; padding: 10px;">
                  <h1 class="animation animated-item-1" style="text-shadow: 0px 0px 15px #fff; font-size: 45pt;"><strong><font color="#000">Do your part to help feed the hungry.</font></strong></h1>
                  <h2 class="animation animated-item-2"><strong><font color="#000">Quick, easy donation delivery to someone who needs it most.</font></strong></h2>
                  <a class="btn-slide animation animated-item-3" href="{% url 'about' %}">Read More</a>
              </div>
            </div>
            <!--
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="/static/images/slider/img1.png" class="img-responsive">
                                </div>
                            </div>-->

          </div>
        </div>
      </div>
      <!--/.item-->


    </div>
    <!--/.carousel-inner-->
  </div>
  <!--/.carousel-->

</section>
<!--/#main-slider-->

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h2>What is GenerosiMe?</h2>
      <p>
        Roomlist is a privacy-focused software tool to allow Mason students to safely and securely share their housing information, aiding the educational development of resident communities.
      </p>
      <p>
        Students can choose to share their housing information with other students on their floor, in their building, or across campus, and link to their social media accounts.
      </p>
    </div>

    <div class="col-md-4">
      <h2>Who uses RoomList?</h2>
      <p>
        RoomList is available only to current students and faculty at George Mason University with full active user accounts. Users must log in with their Mason credentials.
      </p>
      <p>
        This exclusivity provides an easy, safe, closed community within which students can elect to internally share their housing information.
      </p>
    </div>

    <div class="col-md-4">
      <h2>Who is Mason SRCT?</h2>
      <p>
        Members of the
        <a href="//srct.gmu.edu">Student-Run Computing and Technology</a> registered student organization at <a href="//gmu.edu">George Mason University</a> are the clever, talented student developers behind RoomList.
      </p>
      <p>
        We are a group of creative people that like making software and want to give back to the Mason community at the same time.
      </p>
      <p>
        <a href="//srct.gmu.edu/contact/">Contact us</a> to get involved!
    </div>

  </div>
</div>


{% endblock %}
